
<app-actionmenu #actionmenu (action)="clickedAction = $event"></app-actionmenu>

<h1>This is a demo for the action menu</h1>

<div class="buttons">
  <button id="ambutton1" 
    (click)="actionmenu.toggleMenu(actionSet1, 'bottom-start', 'ambutton1')">
    show actionmenu 1
  </button>
  <button id="ambutton2" 
    (click)="actionmenu.toggleMenu(actionSet2, 'bottom-start', 'ambutton2')">
    show actionmenu 2
  </button>
</div>



<p *ngIf="clickedAction" class="info">Action '{{ clickedAction }}' was clicked.</p>